@model ABCOnline.Models.Registers
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail Member</h2>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @Html.LabelFor(m => m.firstName)
        @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @maxlength = "15", id = "firstName" })
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        @Html.LabelFor(m => m.lastName)
        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @maxlength = "15", id = "lastName" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        @Html.LabelFor(model => model.address)
        @Html.TextAreaFor(model => model.address, new { @class = "form-control", @maxlength = "50", id = "address", row = "3" })
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        @Html.LabelFor(model => model.birthday)
        @Html.TextBoxFor(model => model.birthday, new { @class = "form-control datepicker", placeholder = "DATE", @maxlength = "10", id = "birthday" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span>Age</span>
        @Html.LabelFor(model => model.age)
        @Html.TextBoxFor(model => model.age, new { @class = "form-control datepicker", placeholder = "DATE", @maxlength = "10", id = "age" })
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12"></div> 
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="button" class="btn btn-dark" onclick="Back()">Back</button>
    </div>


</div>
<script>


    function Back() {
        window.location = "/Register/Index";
    }

</script>
